<form nz-form [formGroup]="validateForm"  action="">
  <nz-form-item>
    <nz-form-label>Selecione la raza</nz-form-label>
    <nz-select  [(ngModel)]="razaElegida" [ngModelOptions]="{standalone: true}">
      <nz-option *ngFor="let p of perros" [nzValue]="p" [nzLabel]="p"></nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Ingrese el nombre del perro</nz-form-label>
    <input id="perro" type="text" [(ngModel)]="perro" formControlName="perro">
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Ingrese el nombre del dueño</nz-form-label>
    <input id="dueño" type="text" [(ngModel)]="dueno"  formControlName="dueño">
  </nz-form-item>
</form>
